<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ExcelTool.Properties.Settings>
            <setting name="excelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ccodePath" serializeAs="String">
                <value />
            </setting>
            <setting name="cdataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="scodePath" serializeAs="String">
                <value />
            </setting>
            <setting name="sdataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </ExcelTool.Properties.Settings>
    </userSettings>
</configuration>